@charset "utf-8";
@import 'normalize';

* {
    margin: 0;
    padding: 0;
}

body [class*=" el-icon-lx"], body [class^=el-icon-lx] {
    font-family:"lx-iconfont" !important;
    font-size: inherit;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: inherit;
}

html, body, #app, .wrapper {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a {
    text-decoration: none
}

.clear-fix{
    clear: both;
}
