#dashboard-page {
    @import 'common/mixin.scss';
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $main_padding;
    background: url('../assets/images/bg.jpg') 0 0/cover no-repeat;
    $color_gray: #aaa;
    @font-face {
        font-family: 'DIN-Medium';
        src: url("../assets/fonts/DIN-Medium.otf");
    }

    >.main{
        flex: 1;
    }

    > footer{
        flex: 0 0 250px;
        .section-wrap{
            height: 100%;
        }
    }

    .section-wrap {
        width: 100%;
        overflow: hidden;
        .title {
            position: relative;
            height: 40px;
            line-height: 40px;
            padding-left: 24px;
            background-color: #1b1e2e;
            :before {
                position: absolute;
                left: 16px;
                top: 10px;
                content: '';
                width: 3px;
                height: 20px;
                background: linear-gradient(#4e83ff 0%, #44ebf5 100%);
            }
            h1 {
                display: inline-block;
                color: $themeColor;
                font-size: 18px;
                vertical-align: baseline;
            }
            span {
                color: $color_gray;
                font-size: 12px;
            }
        }

        .content {
            p {
                font-family: 'DIN-Medium';
                font-size: 40px;
                color: #c7cce6;
                text-align: center;
            }
        }
    }

    ul.content {
        display: flex;
        flex-direction: column;
        padding: 12px 20px;
        li {
            flex: 1;
        }
    }

    .comment .el-table .el-table__body .club-name {
        font-size: 13px;
    }

    .label-progress {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        label {
            flex: 0 0 40px;
        }
        .progress {
            flex: 1;
        }
    }

    .mb {
        margin-bottom: 12px;
    }
}
